:root {
    --clr-bg-container: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);

    --ff-default: 'Red Hat Display', sans-serif;

    --fs-paragraph: 1rem;
    --fs-title: 1.250rem;

    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul, ol{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  html, body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


  html {
    font-family: var(--ff-default);
    background-color: var(--clr-bg-container);
    font-size: var(--fs-default);
  }

  .container {
    margin: 2rem 1rem;
    text-align: center;
  }

  .container .card {
    overflow: hidden;
    background-color: var(--clr-very-pale-blue);
    width: 20.625rem;
    height: 35.625rem;
    border-radius: 1.4325rem;
  }

  .container .card .card_img {
    margin-bottom: 2.1875rem;
  }

  .container .card .card_title {
    font-size: var(--fs-title);
    font-weight: var(--fw-900);
  }

  