:root {
    --clr-bg-container: hsl(225, 100%, 94%);
    --clr-bg-plan: hsl(223, 78%, 96%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-hover-button: hsl(245, 65%, 65%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
    --clr-text-button: #FFF;

    --ff-default: 'Red Hat Display', sans-serif;

    --fs-paragraph: 1rem;
    --fs-title: 1.5rem;

    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul, ol{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  html, body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


  html {
    font-family: var(--ff-default);
    background-color: var(--clr-bg-container);
    font-size: var(--fs-default);
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container .card {
    overflow: hidden;
    background-color: var(--clr-very-pale-blue);
    width: 20.625rem;
    height: 35.625rem;
    border-radius: 1.4325rem;
  }

  .container .card .card_img {
    margin-bottom: 2rem;
  }

  .container .card .card_title {
    font-size: var(--fs-title);
    font-weight: var(--fw-900);
    color: var(--clr-dark-blue);
    margin-bottom: 1.5rem;
  }

  .container .card .card_paragraph {
    color: var(--clr-desaturated-blue);
    line-height: 1.5;
    padding: 0 2rem;
    margin-bottom: 1.750rem;
  }

  .container .card .card_plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-bg-plan);
    border-radius: .8rem;
    margin: 1.5rem;
    padding: 1rem;
    line-height: 1.3rem;
  }

  .container .card .card_plan-annual {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
  }

  .container .card .card_plan .sub_title {
    font-weight: var(--fw-900);
  }

  .container .card .card_plan .sub_paragraph {
    color: var(--clr-desaturated-blue);
  }

  .container .card .card_plan a {
    text-decoration: underline;
    transition: .3s ease-in-out;
  }

  .container .card .card_plan a:hover {
    color: var(--clr-bright-blue);
  }

  .container .card .card_button {
    background-color: var(--clr-bright-blue);
    color: var(--clr-text-button);
    font-weight: var(--fw-700);
    font-size: .8rem;
    width: 17rem;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s ease-in-out;
  }

  .container .card .card_button:hover {
    background-color: var(--clr-hover-button);
  }

  .container .card .cancel {
    color: var(--clr-desaturated-blue);
    font-size: .9rem;
    font-weight: var(--fw-700);
    transition: .3s ease-in-out;
  }

  .container .card .cancel:hover {
    color: var(--clr-dark-blue);
  }




  